body{
    margin: 0px;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item{
    font-size: 1.5rem;
}
.page-nav{
    background-color: blue;
    border: 1px solid black;
}
.page-nav h1{
    border: 1px solid red;
}
.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
}
.producto-content:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.producto-content{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}
.page-content img{
    width: 300px;
}
.page-content h1{
    margin-bottom: 10px;
    margin-left: 15px;
}
.button-add{
    transition-duration: 0.4s;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
    text-align: center;
    border-radius: 8px;
    padding: 7px 25px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    
  }

.button-add:hover {
    background-color: #4CAF50; 
    color: white;
}